* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* universal style  */

.font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
}

/* main style  */
nav {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.1vh 8vw;
}
nav img {
    max-width: 140px;
    height: 60px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}