* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* universal style  */

.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}

.btn {
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    display: flex;
    align-items: center;
    gap: 0.7vw;
    transition: all 0.1s ease;
}
.btn:hover, .btn-end:hover {
    background-color: #367a4f;
    cursor: pointer;
}
.btn-two{
    filter: invert(100%);
    background-color: transparent;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 0.7vw;
    transition: all 0.1s ease;
}
.btn-two:hover {
    background-color: #72727240;
    cursor: pointer;
}

.btn-end{
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 16.5px 16px;
    display: flex;
    align-items: center;
    gap: 0.7vw;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;
    transition: all 0.1s ease;
}
/* main style  */
nav {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.1vh 8vw;
}

nav img {
    max-width: 140px;
    height: 60px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

#banner {
    width: 100%;
    padding: 70px 120px 134px 120px;
    background: url('./assets/hero-bg.webp');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#banner .banner-content {
    max-width: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 45px;
}

#banner .banner-content .early-access {
    background-color: rgba(255, 255, 255);
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    padding: 8px 12px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

#banner .banner-content .early-access .circle-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #469165;
    scale: 0.5;
    box-shadow: 0px 0px 5px 7px rgba(70, 145, 101, 0.5);
}

#banner .banner-content h1 {
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
    line-height: 84px;
}

#banner .banner-content .info {
    margin-bottom: 32px;
    text-align: center;
    gap: 1.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#banner .banner-content .info p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: fit-content;
}
.banner-button{
    display: flex;
    gap: 1.5vw;
}

#notes{
    padding: 8vh 0px 0vh 0px;
    text-align: center;
    background-color: rgba(231, 231, 231, 0.305);
}
#notes .text-content h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
#notes .text-content p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin: 0px auto;
    line-height: 20px;
}
#notes .card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 44px;
}
#notes .card-box .card {
    background-color: #FFFFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 322px;
    height: 300px;
    padding: 55px 24px;
    box-shadow: 0px 0px 8px 0px rgba(28, 28, 28, 0.055);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-bottom: -50px;
    position: relative;
    z-index: 1;
}
#notes .card-box .card .red-circle {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#notes .card-box .card h2 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    line-height: auto;
}
#notes .card-box .card p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}

#solution{
    padding: 120px;
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
    z-index: 2;
    background: #FFFFFF;
}
#solution .solution-container{
    display: flex;
    flex-direction: column;
}
#solution .solution-container .solution-title{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
#solution .solution-container h1{
    font-size: 48px;
    font-weight: 700;
    width: 80%;
    color: #001931;
    margin-bottom: 16px;
}
#solution .solution-container .detail{
    width: 75%;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
    margin-bottom: 32px;
}
#solution .solution-container .things-to-do{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#solution .solution-container .things-to-do p{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #001931;
    gap: 6px;
}

#think-more{
    padding: 0px 120px 120px 120px;
}
#think-more .think-container{
    padding: 80px 40px;
    background-color: #f7f6f2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#think-more .think-container h1{
    font-size: 42px;
    font-weight: 700;
    font-style: bold;
    color: #001931;
    margin-bottom: 16px;
}
#think-more .think-container p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
}
#think-more .think-container p:first-of-type{
    margin-bottom: 24px;
}

footer{
    padding: 120px 120px 30px;
    background-color: rgba(0, 25, 49, 1);
    color: #FAFAFA;
    text-align: center;
}
footer hr{
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.124);
    margin-bottom: 30px;
}
footer .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    margin-right: 107px;
    gap: 16px;
}
footer .copyright{
    font-size: 16px;
    font-weight: 400;
}
footer .links p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}
footer .links .link a{
    text-decoration: none;
    color: black;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 16px;
}
footer .links .link a i{
    scale: 0.9;
}