* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* universal style  */

.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    display: flex;
    align-items: center;
    gap: 0.7vw;
    transition: all 0.1s ease;
}
.btn:hover {
    background-color: #367a4f;
    cursor: pointer;
}
.btn-two{
    filter: invert(100%);
    background-color: transparent;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 0.7vw;
    transition: all 0.1s ease;
}
.btn-two:hover {
    background-color: #72727240;
    cursor: pointer;
}

/* main style  */
nav {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.1vh 8vw;
}

nav img {
    max-width: 140px;
    height: 60px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

#banner {
    width: 100%;
    height: 90vh;
    background: url('./assets/hero-bg.png');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#banner .banner-content {
    max-width: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#banner .banner-content .early-access {
    background-color: rgba(255, 255, 255);
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    padding: 8px 12px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

#banner .banner-content .early-access .circle-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #469165;
    scale: 0.5;
    box-shadow: 0px 0px 5px 7px rgba(70, 145, 101, 0.5);
}

#banner .banner-content h1 {
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
    line-height: 84px;
}

#banner .banner-content .info {
    margin-bottom: 32px;
    text-align: center;
    gap: 1.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#banner .banner-content .info p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: fit-content;
}
.banner-button{
    display: flex;
    gap: 1.5vw;
}